@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>Log in to get access to shopping cart, orders, and user managment(if you are an admin)</h2>
</div>
